<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <FileNamePattern>logs/LogFile_%d{yyyy-MM-dd}.log</FileNamePattern>
        <MaxHistory>30</MaxHistory>
    </rollingPolicy>
    <encoder>
        <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
    </encoder>
</appender>
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="rollingFileAppender" />
    </root>
</configuration>